/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* global styles  */
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-primary {
  color: #fff;
  background: #ff42a5;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 600;
  transition: all 1s ease;
}
.btn-primary:hover {
  background: #4ec5f7;
}
.btn-secondary {
  color: #fff;
  background: #4ec5f7;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 600;
  transition: all 1s ease;
}
.btn-secondary:hover {
  background: #ff42a5;
}

/* header styles  */
header {
  background: rgba(247, 246, 246, 0.1);
  padding: 30px 240px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
nav {
  display: flex;
  justify-content: space-between;
}

.icon-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon-div img {
  width: 86px;
  height: 40px;
}
.icon-title {
  padding-left: 10px;
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}
.icon-title-G {
  color: #ff42a5;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
  color: #3c354f;
}
nav li a {
  text-decoration: none;
  color: #3c354f;
}
nav li a:hover {
  color: #ff42a5;
}
.navigation-inner-div {
  background: #e7e6e9;
  display: flex;
  padding: 15px 20px;
  border-radius: 5px;
}
.navigation-inner-div a {
  padding-left: 20px;
}
.navigation-inner-div .i-you {
  color: #f61c0d;
  font-size: 24px;
}
.navigation-inner-div .i-tik {
  color: #000000;
  font-size: 24px;
}

/* banner styles  */
.banner {
  padding: 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  background-color: #faf7fd;
  max-width: 50%;
  text-align: center;
}

.banner-title {
  font-size: 48px;
  color: #0b0223;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-goat {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(rgb(249, 72, 178), rgb(135, 88, 241));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.banner-info {
  font-size: 20px;
  color: #534c64;
  font-weight: 500;
  padding: 10px;
}
.color-icon {
  margin-right: 10px;
  color: #ff42a5;
}
.user-icon {
  margin-right: 10px;
}
.button-group {
  padding: 20px;
}
#btn-primary {
  margin-right: 20px;
}

/* responsive  */
/* mobile devices  */
@media screen and (max-width: 576px) {
  .btn-primary,
  .btn-secondary {
    padding: 10px 15px;
  }
  header {
    padding: 20px;
  }
  nav,
  nav ul {
    flex-direction: column;
  }
  .icon-div {
    margin-bottom: 40px;
    justify-content: center;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    margin-top: 24px;
    padding: 10px 10px;
    max-width: 100%;
    text-align: center;
  }
  .banner-title {
    font-size: 36px;
  }
  .banner-goat {
    font-size: 75px;
  }
  .banner-info {
    font-size: 16px;
  }
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-img {
    max-width: 100%;
  }
}
/* tablet devices  */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 60px;
  }
  nav,
  nav ul {
    flex-direction: column;
  }
  .icon-div {
    margin-bottom: 40px;
    justify-content: center;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    margin-top: 24px;
    padding: 10px 24px;
    max-width: 100%;
    text-align: center;
  }
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-img {
    max-width: 100%;
  }
}
